<div class="card">
    <div class="card-header"> Sign In</div>
    <div class="card-body ">

<form [formGroup]="loginform" (ngSubmit)="userLogin()">
  <!-- {{contactform.value | json}} -->
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="email"  formControlName="email"  class="form-control mb-2" name="email" placeholder="Email Id" >
        <span class="text-danger" *ngIf="(f['email'].touched || submitted) && loginform.get('email')?.hasError('required')">The field is required</span>

      </div>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">Phone NUmber</label>
      
          <!-- <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div> -->
          <input type="password" formControlName="password" class="form-control" name="password" placeholder="Password" requred>
        <span class="text-danger" *ngIf="(f['password'].touched || submitted) && loginform.get('password')?.hasError('required')">The field is required</span>
          
       
      </div>

      <div class="col-12 sign-in">
        <button type="submit" class="btn btn-primary mb-2 ">Sign In</button>
      </div>
    </div>
  </form>
  <div class="alert alert-dismissible fade show" [ngClass]="{'alert-success':form_submit_status==true, 'alert-danger':form_submit_status==false}" *ngIf="form_msg" role="alert">
    <strong>{{form_msg}}</strong> 
   
  </div>

  <div class="card-footer fade show text-white" ></div>
</div>
</div>
